<ion-header>
	<ion-navbar>
		<ion-title>{{ "auth.changePassword" | translate }}</ion-title>
		<ion-buttons end>
			<ion-spinner *ngIf="loading"></ion-spinner>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<form [formGroup]="changePasswordForm" (submit)="changePassword()">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ "auth.oldPassword" | translate }}</ion-label>
				<ion-input type="password" formControlName="oldPassword" required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.newPassword" | translate }}</ion-label>
				<ion-input type="password" formControlName="newPassword" required minlength="4"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.confirmPassword" | translate }}</ion-label>
				<ion-input type="password" #confirmPassword formControlName="confirmPassword" required minlength="4"></ion-input>
			</ion-item>
			<!-- && changePasswordForm.controls['confirmPassword'].value-->
			<!-- && changePasswordForm.controls['confirmPassword'].touched-->
			<!--TODO check custom validator syntax-->
			<div class="item error" *ngIf="changePasswordForm.hasError('differentPasswords') && confirmPassword.value">
				{{ "auth.differentPasswords" | translate }}
			</div>
		</ion-list>
		<div padding>
			<button block primary type="submit" [disabled]="loading || !changePasswordForm.form.valid">{{ (signUpMode ?
				"auth.signup" : "auth.validateChange") | translate }}
			</button>
		</div>
		<!--<div padding *ngIf="password.isTemporaryPassword">
			<button block secondary (click)="resendPassword()" type="button" [disabled]="loading">{{ "auth.resendPassword" | translate }}
			</button>
		</div>-->
	</form>

</ion-content>
