# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

.idea
!.idea/*.iml
!.idea/modules.xml

node_modules/
www/build/
platforms/
plugins/
/typings
!/typings/main.d.ts
!/typings/globals/swiper
firebase-debug.log
