.agenda {
	//ion-list {
	//padding-top: 10px;
	//}

	p {
		margin: 20px 0;
		line-height: 22px;
		font-size: 16px;
	}

	ion-list {
	}

	.item {
		padding-left: 0;
	}
	.entry-container {
		position: relative;
	}

	.item-note, .start-time, .end-time {
		font-size: 80%;
	}
	.duration {
		font-style: italic;
		padding-right: 2em;
	}

	.start-time, .end-time {
		position: absolute;
		right: 0;
		z-index: 10;
		//background-color: white;
		padding: 0 10px;
	}
	.start-time {
		top: -8px;
	}
	.end-time {
		bottom: -7px;
	}

	.swiper-slide {
		align-items: flex-start;
	}
	
	.no-student {
		font-style: italic;
	}
}
