@import "~ionic-angular/util/functions";
//@import "../../theme/app.variables";
@import "~ionic-angular/themes/default";

.agenda {
	//ion-list {
	//padding-top: 10px;
	//}

	p {
		margin: 20px 0;
		line-height: 22px;
		font-size: 16px;
	}

	ion-list {
	}

	.item {
		padding-left: 0;
	}
	.entry-container {
		position: relative;
	}

	.item-note, .start-time, .end-time {
		font-size: 80%;
	}
	.duration {
		font-style: italic;
		padding-right: 2em;
	}

	.start-time, .end-time {
		position: absolute;
		right: 0;
		z-index: 10;
		//background-color: white;
		padding: 0 10px;
	}
	.start-time {
		top: -8px;
	}
	.end-time {
		bottom: -7px;
	}

	.swiper-slide {
		align-items: flex-start;
	}

	.separator.item {
		min-height: 1rem;
		ion-label {
			margin: 0;
		}
	}

	.no-student {
		font-style: italic;
	}
	.cancelled {
			//primary:    #387ef5,
			//secondary:  #32db64,
			//danger:     #f53d3d,
			//light:      #f4f4f4,
			//dark:       #222,
			//favorite:   #69BB7B
		//color: gray;
		color: $toolbar-inactive-color;
		text-decoration: line-through;

		ion-badge {
			//background-color: $secondary-text;
			background-color: $toolbar-inactive-color;
		}
	}
}
