<ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>{{entry?.student?.name}}</ion-title>
	<ion-buttons end>
		<button (click)="remove()">{{"agenda.remove" | translate}}</button>
	</ion-buttons>
</ion-navbar>


<ion-content padding class="agenda">

	<p>{{entry.startReadable}} - {{entry.endReadable}}</p>
	<p><em>{{entry.durationReadable}}</em></p>
	<p>{{"agenda.price_colon" | translate}} {{entry.priceReadable}}</p>
	<p>{{"agenda.from" | translate}} {{entry.dateReadable}}</p>
	<p *ngIf="entry.repetition">{{entry.repetitionReadable}} <span *ngIf="entry.repetEnd">{{"agenda.until" | translate}} {{entry.repetEndReadable}} {{"agenda.included" | translate}}</span></p>

	<div padding>
		<button block danger (click)="cancel()">{{"agenda.cancelLesson" | translate}}</button>
	</div>
	<div padding>
		<button block secondary (click)="edit()">{{"agenda.edit" | translate}}</button>
	</div>

</ion-content>
