<!--Index: {{index}} Length: {{agenda?.length}}-->
<ion-list>
	<div *ngFor="let entry of agenda" class="entry-container">
		<!--class="agenda-entry"-->
		<button *ngIf="entry.start" ion-item (click)="entryTapped($event, entry)">
			<div [ngStyle]="{'padding-top': entry.marginTopBottom, 'padding-bottom': entry.marginTopBottom}" [ngClass]="{'no-student': !entry.student}">{{entry?.student?.name || ("agenda.noStudent" | translate)}}</div>
			<ion-badge *ngIf="entry.student" item-right><!--{{entry.start.format('L')}} -->{{entry.startReadable}} - {{entry.endReadable}}</ion-badge>
			<!--secondary-->
			<!--<ion-checkbox dark checked="true"></ion-checkbox>-->
		</button>
		<!--<span *ngIf="entry.student && !entry.adjacent" class="start-time">{{entry.startReadable}}</span>
        <span *ngIf="entry.student" class="end-time">{{entry.endReadable}}</span>-->

		<!--<ion-item-divider *ngIf="!entry.start" class="agenda-entry" light>A</ion-item-divider>-->
		<div *ngIf="!entry.start" class="separator" ion-item>
		</div>
		<!--<div *ngIf="!entry.start" class="agenda-entry" ion-item>
			<div class="item-note duration" item-right>
				{{entry.durationReadable}}
			</div>
		</div>-->
		<!--<p *ngIf="!entry.start" class="agenda-entry">
			&nbsp;
		</p>-->
	</div>
</ion-list>
