<ion-navbar *navbar>
	<ion-title>{{ "auth.changePassword" | translate }}</ion-title>
	<ion-buttons end>
		<ion-spinner *ngIf="loading"></ion-spinner>
	</ion-buttons>
</ion-navbar>

<ion-content>

	<form [ngFormModel]="changePasswordForm" (submit)="changePassword(changePasswordForm.value)">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ "auth.oldPassword" | translate }}</ion-label>
				<ion-input type="password" ngControl="oldPassword" required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.newPassword" | translate }}</ion-label>
				<ion-input type="password" ngControl="newPassword" required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.confirmPassword" | translate }}</ion-label>
				<ion-input type="password" ngControl="confirmPassword" required></ion-input>
			</ion-item>
			<!-- && changePasswordForm.controls['confirmPassword'].value-->
			<!-- && changePasswordForm.controls['confirmPassword'].touched-->
			<div class="item error" *ngIf="changePasswordForm.hasError('differentPasswords') && changePasswordForm.controls['confirmPassword'].value">
				{{ "auth.differentPasswords" | translate }}
			</div>
		</ion-list>
		<div padding>
			<button block primary type="submit" [disabled]="loading || !changePasswordForm.valid">{{ (signUpMode ?
				"auth.signup" : "auth.validateChange") | translate }}
			</button>
		</div>
		<!--<div padding *ngIf="password.isTemporaryPassword">
			<button block secondary (click)="resendPassword()" type="button" [disabled]="loading">{{ "auth.resendPassword" | translate }}
			</button>
		</div>-->
	</form>

</ion-content>
