<ion-navbar *navbar>
	<ion-title>{{ "auth.changePassword" | translate }}</ion-title>
	<ion-buttons end>
		<ion-spinner *ngIf="loading"></ion-spinner>
	</ion-buttons>
</ion-navbar>

<ion-content>

	<form [ngFormModel]="changePasswordForm" #loginCreds="ngForm" (submit)="changePassword(changePasswordForm.value)">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ "auth.oldPassword" | translate }}</ion-label>
				<ion-input type="password" required ngControl="oldPassword"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.newPassword" | translate }}</ion-label>
				<ion-input type="password" required ngControl="newPassword"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ "auth.confirmPassword" | translate }}</ion-label>
				<ion-input type="password" required ngControl="confirmPassword"></ion-input>
				<!--*ngIf="confirmPassword.control.touched"-->
				<div class='error' *ngIf="changePasswordForm.hasError('differentPasswords')">
					<div>{{ "auth.differentPasswords" | translate }}</div>
				</div>
			</ion-item>
			<button block primary type="submit" [disabled]="loading">{{ (signUpMode ? "auth.signup" : "auth.signin") | translate }}</button>
		</ion-list>
	</form>

</ion-content>
