@import "../../../../theme/variables";

.agenda {
	ion-slide {
		padding: 0 36px;
	}
	.arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 36px;
		vertical-align: middle;
		font-size: 24px;
		text-align: center;
		line-height: 100%;
		//margin: auto;
		height: 100%;
		margin: 0;
		z-index: 2;

		&.button-icon-only ion-icon {
			padding: 0;
		}
	}
	.arrow-right {
		right: 0;
	}
	.arrow-left {
		left: 0;
	}
	.button-clear-light {
		color: map-get($colors, primary);
	}

}
